body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAE9F2; /* light pink background */
}

.navbar .nav-link {
  font-weight: 500;
  margin: 0 8px;
}
.navbar .nav-link:hover {
  color: #000 !important;
}

.custom-input {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
}

.custom-input:focus {
  border-color: #B285C0;
  box-shadow: 0 0 4px #B285C0;
}

.recaptcha-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  padding: 8px;
  border-radius: 5px;
  background: #fff;
}

.submit-btn {
  background-color: #80004d;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s;
}
.submit-btn:hover {
  background-color: #B285C0;
}
