/* Import Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.submit-btn {
  background: linear-gradient(to right, #80004d, #B285C0);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s;
}
.submit-btn:hover {
  opacity: 0.9;
}
